* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --fuenteAlternativa: 'Raleway', sans-serif;
  --PriDarkBlue: hsl(243, 87%, 12%);
  --PriDesaturatedBlue: hsl(238, 22%, 44%);
  --SecBlue: hsl(224, 93%, 58%);
  --Cyan: hsl(170, 45%, 43%);
  --TerBlue: hsl(240, 75%, 98%);
  --TerGray: hsl(0, 0%, 75%);
}

/* body{
    width:90%;
    margin:0 auto;
} */
.header {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.header--logo {
  width: 50%;
}

.header--logo img {
  width: 70%;
  max-width: 200px;
}

.header--menu {
  width: 50%;
  max-width: 350px;
  font-size: 1.2rem;
  color: var(--PriDarkBlue);
}

.header--menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.hero--img {
  max-width: 600px;
}

.hero--img img {
  padding-top: 45px;
  width: 100%;
}

.hero--text {
  max-width: 550px;
}

.hero--text__title {
  color: var(--PriDarkBlue);
  text-align: center;
  margin: 30px auto;
}

.hero--text__title h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.hero--text__content {
  text-align: center;
  color: var(--PriDarkBlue);
  font-size: 1.4rem;
}

.hero--text__input {
  width: 100%;
}

.hero--text__input input {
  width: 100%;
  height: 40px;
  margin: 15px auto;
  border-radius: 3px;
  border: 1px solid var(--PriDesaturatedBlue);
}

.hero--text__input input::-webkit-input-placeholder {
  padding: 5px;
  color: var(--TerGray);
}

.hero--text__input input:-ms-input-placeholder {
  padding: 5px;
  color: var(--TerGray);
}

.hero--text__input input::-ms-input-placeholder {
  padding: 5px;
  color: var(--TerGray);
}

.hero--text__input input::placeholder {
  padding: 5px;
  color: var(--TerGray);
}

.hero--text__input button {
  width: 100%;
  height: 40px;
  color: white;
  background: var(--SecBlue);
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 3px;
}

.info--img {
  max-width: 650px;
}

.info--img img {
  width: 100%;
}

.info--content {
  max-width: 500px;
}

.info--content__title {
  width: 100%;
  margin: 30px auto;
}

.info--content__title h1 {
  text-align: center;
  color: var(--PriDarkBlue);
  font-size: 2.5rem;
  font-weight: 700;
}

.info--content__text p {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: var(--PriDesaturatedBlue);
  width: 100%;
  margin: 12px auto;
}

.info--content__button {
  font-size: 1.4rem;
  text-align: center;
  width: 150px;
  margin: 50px auto;
  border-bottom: 2px solid var(--Cyan);
  padding-bottom: 5px;
}

.info--content__button a {
  margin: 50px 0;
  font-size: 1.3rem;
  color: var(--Cyan);
  text-decoration: none;
}

.info--content__button a span {
  display: inline-block;
  background-image: url("/images/icon-arrow.svg");
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.info--content__button a:hover {
  cursor: pointer;
}

.clients {
  width: 100%;
}

.clients--card {
  width: 90%;
  max-width: 370px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  padding: 18px;
  font-size: 1.0rem;
  line-height: 1.7rem;
  color: var(--PriDarkBlue);
  border: none;
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.clients--card__icon {
  width: 15px;
  height: 15px;
}

.clients--card__icon span {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("/images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.clients--card__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients--card__person--img {
  width: 25px;
}

.clients--card__person--img img {
  width: 100%;
  border-radius: 50%;
}

.clients--card__person--info {
  padding-left: 10px;
}

.clients--card__person--info-name {
  color: var(--PriDarkBlue);
  font-weight: bold;
}

.clients--card__person--info-job {
  font-weight: 400;
  font-size: 0.9rem;
}

.callToAction {
  margin-top: 65px;
  width: 100%;
  height: auto;
  background-color: var(--PriDesaturatedBlue);
  padding: 45px;
  color: white;
}

.callToAction--text {
  max-width: 550px;
}

.callToAction--text h3 {
  text-align: center;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 1.7rem;
}

.callToAction--text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
}

.callToAction--input input {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  padding: 10px;
}

.callToAction--input input::-webkit-input-placeholder {
  padding: 10px;
  color: var(--TerGray);
}

.callToAction--input input:-ms-input-placeholder {
  padding: 10px;
  color: var(--TerGray);
}

.callToAction--input input::-ms-input-placeholder {
  padding: 10px;
  color: var(--TerGray);
}

.callToAction--input input::placeholder {
  padding: 10px;
  color: var(--TerGray);
}

.callToAction--input input:focus {
  border: 1px solid var(--SecBlue);
}

.callToAction--input button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: var(--SecBlue);
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}

.footer {
  background-color: var(--PriDarkBlue);
  color: white;
  padding: 10%;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.footer--logo__details p {
  margin: 15px 0;
}

.footer--logo__details p span {
  margin-right: 10px;
}

.footer--logo__details p span img {
  width: 15px;
}

.footer--resume ul {
  list-style: none;
}

.footer--resume ul li {
  margin: 15px 0px;
}

.footer--resume__about {
  margin: 30px 0px;
}

.footer--resume__contact {
  margin: 30px 0px;
}

.footer--rrss {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer--rrss img {
  width: 25px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*# sourceMappingURL=style.css.map */