html{
    font-size:70%;
}
.footer{
    display:flex;
    justify-content: space-between;
}
.footer--rrss{
    margin:0 0;
    height: 25px;
    
}
.footer--resume{
    display: flex;
}

.footer--resume__about{
    justify-self: self-start;
    margin:0 30px;
}

.footer--resume__contact{
    justify-self: self-end;
    margin:0 30px;
}
.info--content__button{
    width:230px;
    max-width:250px;
}
.hero{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding:20px 0;
}
.hero--text__content {
    text-align: left;
}
.hero--text__input input{
    margin:10px 0;
}
.info{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding:20px 0;
    align-items: center;
}
.info--content__title h1{
    text-align: left;
}
.info--content-button{
    margin:10px auto;
}
.hero--text{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero--text__title{
    text-align: left;
}
.hero--text__input{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero--text__input input{
    width:55%;
}
.hero--text__input button{
    width:35%;
}

.callToAction{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:65px;
}
.callToAction--text h3, p{
    text-align: left;
}
.callToAction--input button{
    max-width: 200px;
}

.footer--resume{
    margin-top:60px
}
.footer--rrss{
    margin-top:60px
}
